/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* color palette here: https://coolors.co/f0f8ff-223759-7fffd4-5f9ea0-aab9cf */

body {
  background-color: #F0F8FF;

  font-family: 'Inter', sans-serif; /* Use Inter font if available, sans-serif if not */
  color: #223759;
  font-weight: 400;
  font-size: 16px;
  /* sets font size in body to 16px */
  line-height: 1.2;
  /* sets line height to 1.2x the size of the font */
}

h1 {
  font-weight: 600;
  font-size: 30px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
}

h3 {
  font-weight: 600;
  font-size: 18px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pokedex-title {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
gap: 20px;
font-family: 'Inter', sans-serif; /* Use Inter font if available, sans-serif if not */
font-weight: 600;
font-size: 30px; 
}

.pokedex-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
}

.pokemon-list{
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20px 20% 20px 20% 20px 20%;
  grid-template-columns: repeat(4, 20%);
  grid-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pokemon-button{
  border-radius: 25px;
  border: 5px #7FFFD4 solid;
  background-color: #5F9EA0;
  padding: 16px 32px;
  margin: 4px 2px;
  -webkit-transition-duration: opacity 0.4s;
       -o-transition-duration: opacity 0.4s;
          transition-duration: opacity 0.4s;
  cursor: pointer;
}

button:active, .pokemon.button:active {
  background-color: #008B8B;
  color: white;
}

button:hover, button:focus, .pokemon.button:hover, .pokemon.button:focus, .btn:hover, .btn-primary:hover {
background-color: #5F9EA0;  
cursor: pointer;
  /* lets mouse appear as a hand when hovering over the button */
  opacity: 0.7;
  /* reduces opacity of the button when hovered over or focused on. Could change the color instead if there's a background image. */
}

/* sets modal to be hidden by default */
#pokemonModal {
  display: none;
}

/* sets the container to cover the entire page when visible (when .is-visible class is present) */
#pokemonModal.is-visible {
  position: fixed;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(170, 185, 207, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: -ms-grid;
  display: grid;
  text-align: center;
}

/* the modal box itself */
.modal-dialog {
  /* margin: auto; */
  position: absolute;
  left: 0;
  right:0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #AAB9CF;
  padding: 30px;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

/* .modal-close {
  float: right;
  border: 0;
  background: none;
  color: #DC143C;
  text-decoration: underline;
} */

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

.modal img {
  padding: 20px;
}

.list-group-item {
  background-color: #F0F8FF;
  border: none;
}

@media all and (max-width: 500px) {
  .pokemon-list {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .pokemon-list {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .pokemon-list {
-ms-grid-columns: 1fr 10px 1fr 10px 1fr;
grid-template-columns: 1fr 1fr 1fr;        
grid-gap: 10px;
  }
  h1 {
      font-size: 22px;
  }
}