/* color palette here: https://coolors.co/f0f8ff-223759-7fffd4-5f9ea0-aab9cf */

body {
    background-color: #F0F8FF;

    font-family: 'Inter', sans-serif; /* Use Inter font if available, sans-serif if not */
    color: #223759;
    font-weight: 400;
    font-size: 16px;
    /* sets font size in body to 16px */
    line-height: 1.2;
    /* sets line height to 1.2x the size of the font */
}

h1 {
    font-weight: 600;
    font-size: 30px;
}

h2 {
    font-weight: 600;
    font-size: 24px;
}

h3 {
    font-weight: 600;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
}

.pokedex-main__title {
    margin-left: 50px;
}

.pokemon-list{
    list-style: none;
}

.pokemon-button{
    border: 5px #7FFFD4 solid;
    background-color: #5F9EA0;
    padding: 16px 32px;
    margin: 4px 2px;
    transition-duration: opacity 0.4s;
    cursor: pointer;
  }

button:active, .pokemon.button:active {
    background-color: #008B8B;
    color: white;
  }

button:hover, button:focus, .pokemon.button:hover, .pokemon.button:focus {
      cursor: pointer;
    /* lets mouse appear as a hand when hovering over the button */
    opacity: 0.7;
    /* reduces opacity of the button when hovered over or focused on. Could change the color instead if there's a background image. */
}